<div class="partial" ng-controller="DataCtrl as ctrl">
    <!-- Tag Modal -->
    <div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
            ng-controller="TagCtrl"
            >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">create tag</h4>
                </div>
                <div class="modal-body">
                    <form name="tagForm" ng-submit="addTag(tag) && (tag=null)" novalidate>
                        <div class="input-group">
                            <input type="text" ng-model="tag.name" name="name" ng-required="true" class="form-control">
                          <span class="input-group-btn">
                              <!-- @TODO check if name is already on server -->
                            <button class="btn btn-default" type="button" ng-click="addTag(tag) && (tag=null)" ng-class="{'btn-success': tagForm.$valid}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                          </span>
                        </div>
                        <!-- /input-group -->
                    </form>
                </div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">tag this item with available tags</h4>
                </div>
                <div class="modal-body">
                    <span ng-repeat-start="tag in tags" class="label label-info">
                        <span ng-click="tagItem(tag)">{{tag.name}}</span> <span class="text-danger glyphicon glyphicon-remove"
                                                                ng-click="deleteTag(tag)"></span></span>
                    <span ng-repeat-end ng-hide="$last"> </span>
                    <!--<span class="label label-info">Label1 <span class="glyphicon glyphicon-remove"-->
                                                                <!--ng-click=""></span></span>-->
                    <!--<span class="label label-info">Label1 <span class="glyphicon glyphicon-remove"-->
                                                                <!--ng-click=""></span></span>-->
                    <!--<span class="label label-info">Label1 <span class="glyphicon glyphicon-remove"-->
                                                                <!--ng-click=""></span></span>-->
                </div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">tagged with</h4>
                </div>
                <div class="modal-body">
                    <span ng-repeat-start="tag in modalItem.tags" class="label label-info">
                        <span ng-click="tagItem(tag)">{{tag.name}}</span> <span class="text-danger glyphicon glyphicon-remove"
                                                                                ng-click="removeTag(tag)"></span></span>
                    <span ng-repeat-end ng-hide="$last"> </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="tags.length">
        <button ng-click="toggleTagFilter(tag)" ng-repeat="tag in tags" class="btn btn-default btn-info btn-sm"
                ng-class="{'active': tagFilter.active[tag.id]}">{{tag.name}}</button>
        <br>
        <br>
    </div>
    <!-- editable list to display editable tables -->
    <div class="row">
        <div class="col-lg-6">
            <editable-list model="ctrl.items" columns="['desc']"
                           actions="[{name: 'delete', callback: 'deleteFunc', icon: 'glyphicon-remove'},
                                     {name: tag, text: 'tag', class: 'btn-xs btn-info', callback: 'modalFunc' }]"
                           update-func="updateItem(item)"
                           delete-func="deleteItem(item)"
                           modal-func="openTagModal(item)"
                    ></editable-list>
            <!-- item arg wird durchgereicht von editable! -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form role="form" name="formAdd" ng-submit="addItem(item)" novalidate>
                <div class="form-group">
                    <label for="itemDesc">Add an Item</label>
                    <span class="text-info" ng-show="!formAdd.itemDesc.$valid">(Need at least one letter)</span>

                    <div class="input-group" submit-state state-flag="success">
                        <input ng-disabled="pending" type="text" name="itemDesc" ng-model="item.desc" ng-required="true"
                               class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-success" ng-disabled="!formAdd.$valid || pending"
                                    type="submit">
                                <span ng-hide="pending">Add!</span>
                                <span ng-show="pending">Wait</span>
                            </button>
                        </span>
                    </div>
                </div>
                <!-- /input-group -->
            </form>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->

    <br><br>
</div>

