<md-content md-theme="docs-dark" class="md-padding" layout-sm="column">
    <md-input-container>
        <label>Name</label>
        <input ng-model="profile.name" ng-disabled="true">
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input ng-model="profile.email" type="email" ng-disabled="true">
    </md-input-container>

    <!--<span>Profile verified</span>-->
    <md-checkbox ng-disabled="true" ng-model="profile.email_verified"></md-checkbox>
</md-content>

<!--<article ng-show="settings.debug">-->
    <!--<pre>{{profile | json}}</pre>-->
<!--</article>-->
