<table class="table table-hover">
    <tr ng-repeat="item in items">
        <td ng-repeat="column in columns" ng-click="editField(column)">
            <editable model="item" column="column"></editable>
        </td>
        <td style="width: 20%;">
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-class="action.class" ng-click="runCallback(action.callback, item, modal)"
                        ng-repeat="action in actions"
                        data-toggle="{{action['data-toggle']}}"
                        data-target="{{action['data-target']}}">
                    <span class="glyphicon" ng-class="action.icon">{{action.text}}</span>
                </button>
            </div>
        </td>
    </tr>
</table>